@media (min-width:600px) {
    * {
        padding: 0%;
        margin: 0%;
        box-sizing: border-box;
    }

    #header {
        width: 100vw;
        height: 20vh;
        background-color: rgb(63, 60, 60);
        color: turquoise;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #hone {
        color: white;
        font-size: 2vw;
    }

    #htwo {
        font-size: 4vw;
    }

    #sbutton {
        width: 100vw;
        height: 70vh;
        background-color: skyblue;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #sbut {
        width: 25vw;
        height: 10vh;
        border-radius: 35px;
        font-size: 2vw;
    }

    #sbut:hover {
        background-color: red;
        color: turquoise;
    }

    #footer {
        width: 100vw;
        height: 10vh;
        background-color: rgb(63, 60, 60);
        color: turquoise;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #game {
        display: none;
    }

    #main {
        width: 100vw;
        height: 20vh;
        background-color: red;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #m {
        font-size: 3.8vw;
        color: turquoise;
        font-weight: 900;
    }

    #mone {
        margin-top: 3vh;
        text-align: center;
        font-size: 3.5vw;
        color: blue;
    }

    #mtwo {
        width: 25vw;
        height: 30vh;
        position: absolute;
        right: 0px;
        top: 47vh;
    }

    #mthree {
        font-size: 3.5vw;
        margin: 5vh;
    }

    #input {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3.5vw;
        font-weight: 700;
    }

    #mfour {
        width: 3.7vw;
        font-size: 3.1vw;
        font-weight: 700;
        margin-left: 1vh;
        border: 0.2vw solid blue;
        border-radius: 8px;
        text-align: center;
    }

    #guess {
        width: 40vw;
        text-align: center;
        margin: 5vh 0vw 0vw 28vw;
        font-size: 2.5vh;
    }

    #restart {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #rbut {
        margin-top: 4vh;
        width: 20vw;
        height: 6vh;
        background-color: blueviolet;
        color: white;
        font-size: 2vw;
        font-weight: 700;
        border-radius: 25px;
    }

    #rbut:hover {
        background-color: red;
        color: black;
    }

    #w {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #word {
        width: 60vw;
        height: 8vh;
        margin: 3.5vh;
        border: 2px solid blue;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .para {
        width: 3vw;
        font-size: 2vw;
        margin-right: 3vw;
        color: blue;
        border: 0.4vw solid red;
        color: white;
        text-align: center;
    }

}

@media (max-width:599px) {
    * {
        padding: 0%;
        margin: 0%;
        box-sizing: border-box;
    }

    #header {
        width: 100vw;
        height: 20vh;
        background-color: rgb(63, 60, 60);
        color: turquoise;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #hone {
        color: white;
        font-size: 2vw;
    }

    #htwo {
        font-size: 4vw;
    }

    #sbutton {
        width: 100vw;
        height: 63vh;
        background-color: skyblue;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #sbut {
        width: 40vw;
        height: 10vh;
        border-radius: 35px;
        font-size: 4vw;
    }

    #sbut:hover {
        background-color: red;
        color: turquoise;
    }

    #footer {
        width: 100vw;
        height: 10vh;
        background-color: rgb(63, 60, 60);
        color: turquoise;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #game {
        display: none;
    }

    #main {
        width: 100vw;
        height: 20vh;
        background-color: red;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #m {
        font-size: 4vw;
        color: turquoise;
        font-weight: 900;
    }

    #mone {
        margin-top: 3vh;
        text-align: center;
        font-size: 3.5vw;
        color: blue;
    }

    #mtwo {
        width: 30vw;
        height: 35vw;
        position: absolute;
        right: 0px;
        top: 40vh;
    }

    #mthree {
        font-size: 3.5vw;
        margin: 5vh;
    }

    #input {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3.5vw;
        font-weight: 700;
    }

    #mfour {
        width: 5.5vw;
        height: 3vh;
        font-size: 4.5vw;
        font-weight: 700;
        margin-left: 1vh;
        border: 0.2vw solid blue;
        border-radius: 8px;
        text-align: center;
    }

    #guess {
        width: 45vw;
        text-align: start;
        margin-top: 5vh;
        font-size: 2.5vh;
    }

    #restart {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #rbut {
        margin-top: 4vh;
        width: 25vw;
        height: 7vh;
        background-color: blueviolet;
        color: white;
        font-size: 3.5vw;
        font-weight: 700;
        border-radius: 25px;
    }

    #rbut:hover {
        background-color: red;
        color: black;
    }

    #w {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #word {
        width: 50vw;
        height: 8vh;
        margin: 3.5vh;
        border: 2px solid blue;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .para {
        width: 2.5vw;
        font-size: 2vw;
        margin-right: 3vw;
        color: blue;
        border: 0.4vw solid red;
        color: white;
        text-align: center;
    }

}